{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Правила проживания
</title>
{% endblock %}
{% block content %} 
<h1>Правила проживания</h1>
<hr>
<ol>
    <li>Базы доступны для поселения круглосуточно, однако не ранее чем через 3 дня с дня бронирования</li>
    <li>Базы должны быть освобождены к 12:00 по местному времени дня окончания бронирования</li>
    <li>Максимальное число людей зарегистрированных на базе - 6</li>
    <li>Максимальный срок бронирования - 3 месяца</li>
    <li>Нахождение незарегистрированных людей на базе <strong>не</strong> запрещено, но на ни них не распротраняются гарантии, страховки и различные услуги</li>
    <li>Оплата производится в деньгах</li>
    <li>Оплата производится за каждую неделю использования базы, вне зависимости от числа проживающих на базе</li>
    <li>Об отмене бронирования следует сообщить не менее чем за 7 суток, в противном случае предоплата не возвращается</li>
    <li>В случае задержки выезда плата за проживание взимается штраф в размере 5 денег + обычная цена брони базы в неделю до освобождения базы</li>

    <li>Ответственность за порчу имущества базы несут проживающие на этой базе, за исключением случаев указанных в страховке</li>
    <li>Администрация не несет ответственности за работу городских служб (аварийное отключение электрической и тепловой энергии, водоснабжения)</li>
</ol>
{% endblock %}