{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Безопасность на природе
</title>
{% endblock %}
{% block content %} 
<h2>Безопасность на природе</h2>
<div class="txt-wrap-right">
    <img src="/static/img/nature.jpg" height="300px">
</div>
<p>
    Отдых вдали от дома на свежем воздухе хорошо расслабляет, заряжает энергией, но необходимо знать, 
    чтобы такой выезд на природу закончился благополучно и прошел без происшествий надо тщательно подготовиться. 
    <ol>
        <li>Одеваться стоит в одежду, которая будет надежно защищать шею, руки и ноги от надоедливых и порой опасных насекомых.</li>
        <li>Если прогулка в лес совершается в зимнее время, то шарф надо одевать под одежду, чтобы не было риска зацепиться им за дерево.</li>
        <li>Обязательно на природу надо взять с собой средства связи, спички и нож.</li>
        <li>Необходимо предусмотреть пакет для мусора, который после себя обязательно надо убрать.</li>
        <li>Если вы не планируете заночевать в палатках, то лучше вернуться домой до наступления темного времени суток.</li>
        <li>При плохом знании данного леса лучше не сворачивать далеко с протоптанных дорожек.</li>
        <li>Если так случилось, что заблудились, то необходимо хорошо прислушаться. Может, лай собак или шум проезжающих автомобилей подскажет правильное направление движения.</li>
        <li>Правила безопасного поведения на природе не рекомендуют располагаться рядом с муравейником, осиными гнездами.</li>
        <li>Привлекательные ягодки на кустарниках могут быть смертельно ядовитыми, поэтому, если сомневаетесь в их съедобности, то лучше не рисковать.</li>
        <li>Питьевую воду лучше брать с собой, взятая из ближайшего водного источника, она может оказаться зараженной возбудителями различных заболеваний.</li>
        <li>Чтобы не провоцировать животных на агрессивное поведение музыку лучше громко не включать.</li>
        <li>Отправляясь на природу, лучше использовать специальные жидкости для отпугивания насекомых.</li>
        <li>Решив половить рыбу, необходимо удостовериться, что лов в данном месте разрешен, иначе можно заработать приличный штраф.</li>
        <li>Еще большее наказание последует за причинение вреда организмам, занесенным в Красную книгу и охоту в неположенное время.</li>
    </ol>
</p>
{% endblock %}