{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Базы
</title>
{% endblock %}
{% block content %} 
<h1>Базы</h1>
<hr>
<div style="padding-left: 20px;">
    <li><a class="submenu-item link-like" href="/bases/summer">Летние базы</a></li>
	<li><a class="submenu-item link-like" href="/bases/mountain">Горные базы</a></li>
	<li><a class="submenu-item link-like" href="/bases/forest">Лесные базы</a></li>
	<li><a class="submenu-item link-like" href="/bases/outback">Малонаселенные базы</a></li>
</div>
{% endblock %}