{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Дом "Высоко в горах"
</title>
{% endblock %}
{% block content %} 
<h3>Дом "Высоко в горах"</h3><hr>
<div class="txt-wrap-left">
    <img src="/static/img/mountain-house.jpg" height="400" alt="Дом высоко в горах">
</div>
<p>
    Предлагается дом, расположенный на уступе горы Кидалово горного массива Хребетный, в живописном месте, 
    откуда открывается прелестный вид на расположенный внизу каньон. Сам дом состоит из гостинной, 
    спальни и кухни. Окна гостинной выходят в сторону обрыва, открывая вид на горный массив. 
    Дом оборудован электроэнергией от генератора, мобильная связь отсутствует. Ввиду трудности взаимодействия 
    с окружающим миром, дом можно бронировать не дольше чем на месяц в год.
</p>
<strong>Цена: </strong> <em>7 денег</em>
<br>
<strong>Забронировать: </strong> <em>На данный момент занят</em>
{% endblock %}