{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Отзывы и предложения
</title>
{% endblock %}
{% block content %} 
<h2>Отзывы</h2>
<div class="message-container">
    <div class="message-avatar">
        <img src='/static/img/ava1.jpg' class="wooden-frame-thin">
        <div style="margin: auto; text-align: center;">Вова</div>
    </div>
    <div class="message-block">
        Прекрасное место, ставлю класс, 10/10!!
    </div>
</div>
<div class="message-container">
    <div class="message-avatar">
        <img src='/static/img/ava2.jpg' class="wooden-frame-thin">
        <div style="margin: auto; text-align: center;">Ваня</div>
    </div>
    <div class="message-block">
        Хороший сайт, мне очень понравилось это оформление, надеюсь у авторов там все хорошо!
    </div>
</div>
<div class="message-container">
    <div class="message-avatar">
        <img src='/static/img/ava3.jpg' class="wooden-frame-thin">
        <div style="margin: auto; text-align: center;">XGamerX</div>
    </div>
    <div class="message-block">
        Пока я отдыхал Домике у озера мне все казалось будто бы среди деревьев там гуляет понасенков
    </div>
</div>
{% endblock %}