{% extends "base.html" %}
{% block content %} 
<div style="color:var(--wood-fg);">
    <h1 style="text-align:center; font-size: 24px; font-weight: normal;">Рай отшельника</h1>
    <p>
        Никогда у вас не возникало желания убежать от всего этого хаоса городской жизни? 
        Скрыться где-то далеко, дать себе возможность обдумать все происходящее в тишине?
        Пережить перемены в жизни и наладить порядок во внутренней жизни?
        Мы - общественная организация, которая занимается поиском уединенных мест по всему миру, 
        чтобы помочь многим из нас пройти через тяжелые жизненные времена, убежать от городской суеты, 
        или просто посидеть в тишине. Предлагаемые нами места варьируются от квартир в тихом районе города
        до хижин в глубинах леса или высоко в горах, каждый наш посетитель смог найти место себе по душе. 
        Мы предоставляем нашим посетителям конфортные условия, в которых они смогут провести время в покое 
        и умиротворении. 
    </p>
    <br>
    <hr>
    <h1>Наши основатели</h1>
    <div style="height: 400px">
        <div style="float: left;">
            <a href="https://vk.com/id658040515" target="_blank" style="float:left;"><img src="/static/img/ilya.jpg" style="margin-right: 15px;" height="350px"></a>
            <a>
                <strong>Илья Латыпов</strong><br>
                Илья Латыпов
            </a>
        </div>
        <div style="position:absolute; float: right; right: 20px">
            <a style="position:relative; top:330px">
                <strong>Бречкин Иван</strong><br>
                Иван Бречкин
            </a>
            <a href="https://vk.com/thegoodest_thebest" target="_blank" style="float:right;"><img src="/static/img/BR34KIN.jpg" style="margin-left: 15px;" height="350px"></a>
        </div>
    </div>
    
    


</div>
{% endblock %}