{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - "Лесное укрытие"
</title>
{% endblock %}
{% block content %} 
<h3>"Лесное укрытие"</h3>
<hr>
<div class="txt-wrap-right">
    <img src="/static/img/forest-shelter.jpg" height="300px">
</div>
<p>
    Предоставлен уютный комплекс из двух домиков посреди леса в 16 км к северу от поселка Лесничий. 
    В доме имеется мебель, оборудован электроэнергией от внешнего генератора, имеется внутренний санузел.
    Основной дом представляет из себя гостиную, совмещенную с кухней, спереди имеется просторная лужайка. 
    Второй дом содержит спальню и комнату общего предназначения. Генератор и другая инфраструктура, 
    связанная с электроэнергией, находятся в сарае неподалеку. В районе дома работает мобильная связь, 
    вокруг территории дома имеется ограждение. Дикие звери не водятся в летний сезон.
    <br>
    <strong>Цена: </strong> <em>25 денег</em>
    <br>
    <strong>Забронировать: </strong> <em>+7(800)555-35-35</em>
</p>
{% endblock %}