{% extends "base.html" %}
{% block content %} 
<h1>Домик у озера</h1>
<hr>
<div class="txt-wrap-left">
    <img src="/static/img/lake.jpg" width="400px">
</div>
<p>
    Предлагается комфортный домик рядом с озером Водическое. 
    Дом оборудован мебелью, имеется яркое естественное освещение. 
    Вокруг дома есть лужайка, на которой можно разместить все необходимые вам удобства. 
    В районе дома работает мобильная связь, ближайшее шоссе находятся в 15 минутах езды или 
    примерно часу пешком. Озеро чистое, обыватели из ближайших поселений встречаются редко. 
    Из дома открывается живописный вид на окружающий лес, все посетители домика оставляли 
    положительные впечатления от пребывания в этих местах. Дикие звери поблизости не водятся.
    <strong>Забронировать: </strong> <em>На данный момент занят</em>
</p>
{% endblock %}