{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Тихая квартира
</title>
{% endblock %}
{% block content %} 
<h3>Тихая квартира</h3><hr>
<div class="txt-wrap-left">
    <img src="/static/img/flat.jpg" width="300" alt="Квартира">
    <br>
    <p style="position:relative; text-align:center; font-size: 14px; margin: 5px"><em>Фото из кухни</em></p>
</div>
<p>
    Тихая квартира в спальном районе города Б. Состоит из кухни, спальни, гостинной и санузла, отделано в винтажном стиле.
    Квартира расположена на 8 этаже, из окна открывается вид на внутренний двор дома.
    В 10 минутах хотьбы расположен сосновый парк, прекрасное место для вечерних прогулок. В квартире имеется всё необходимое:
    от бесплатного вайфая до стиральной машины. По сообщениям предыдущих жителей, соседи никогда не доставляли 
    проблем, проишествий в районе не происходит. Рядом с жилищем есть продуктовые магазины "Гравитация" и "Шестёрочка". 
    Ближе к центру города можно найти кафе и рестораны.
</p>
    <strong>Цена: </strong> <em>5 денег</em>
    <br>
    <strong>Забронировать: </strong> <em>На данный момент занято</em>
{% endblock %}