{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Смотровая башня
</title>
{% endblock %}
{% block content %} 
<h3>Смотровая башня</h3><hr>
<div class="txt-wrap-right">
    <img src="/static/img/watchtower.jpg" width="400" alt="Башня">
</div>
<p>
    Старая смотровая башня, переоборудованная в уютное жилище. Состоит из 4 этажей, на нижнем находится вход, кухня, 
    на втором этаже находится гостинная, на третьем - спальня и на четвертом - смотровая площадка.
    С нее открывается живописный вид на город Короткопрудный. К башне проведено электричество и водопровод, и город 
    находится в 15 минутах ходьбы по лесной дороге. Район славится приятным климатом в летний сезон, что положительно 
    сказывается на пребывании в башне. 
</p>
<strong>Цена: </strong> <em>13 денег</em>
<br>
<strong>Забронировать: </strong> <em>+7(800)555-35-35</em>
{% endblock %}