{% extends "base.html" %}
{% block head %}
<title>
    Hermit's Heaven - Дом у подножья
</title>
{% endblock %}
{% block content %} 
<h3>Дом у подножья</h3>
<hr>
<div class="txt-wrap-left">
    <img src="/static/img/mountain_foot_house.jpg" height="300px">
</div>
<p>
    Дом расположен вблизи реки Водная, у подножья горы Каменная. 
    Также поблизости находится лес Деревянный. Дом оборудован аутентичной мебелью, 
    разделен на кухню, спальню и гостевую, имеется погреб. В дом оборудован устройством 
    обогрева в форме печи, сарай поблизости имеет инфраструктуру, необходимую для работы 
    генератора. Река относительно чистая, однако пребывание в ней не рекомендуется из-за 
    температуры и скорости течения. В 4 километрах пролегает туристическая тропа, ведущая 
    в горы, по этой же тропе можно прийти к ближайшей  населенной турбазе. На территории 
    отсутствует мобильная связь, требуется подняться выше в гору чтобы она появилась. 
    <br>
    <strong>Цена: </strong> <em>10 денег</em>
    <br>
    <strong>Забронировать: </strong> <em>+7(800)555-35-35</em>
</p>
{% endblock %}