{% extends "base.html" %}
{% block content %} 
<div style="color:var(--wood-fg);">
    <h1 style="text-align:center; font-size: 24px; font-weight: normal;">Рай отшельника</h1>
    <p>
        Никогда у вас не возникало желания убежать от всего этого хаоса городской жизни? 
        Скрыться где-то далеко, дать себе возможность обдумать все происходящее в тишине?
        Пережить перемены в жизни и наладить порядок во внутренней жизни?
        Мы - общественная организация, которая занимается поиском уединенных мест по всему миру, 
        чтобы помочь многим из нас пройти через тяжелые жизненные времена, убежать от городской суеты, 
        или просто посидеть в тишине. Предлагаемые нами места варьируются от квартир в тихом районе города
        до хижин в глубинах леса или высоко в горах, каждый наш посетитель смог найти место себе по душе. 
        <a href="/about">Подробнее...</a>
    </p>
    <br>
    <h2 style="text-align:center; font-weight:normal">— Новости —</h2>
    <div class="message-container">
        <div class="message-block">
            <p style="font-size: 10px; float: right; margin-top: 7px"> <em>14 сентября 2021 г.</em> </p>
            <h3 style="font-weight:normal; margin-top: 5px; margin-bottom: 0px;">Юбилей "Рая отшельника"</h3>
            <p>
                Раю отшельника исполняется 10 лет! Все эти годы наше сообщество продолжало поддерживать в проекте
                жизнь, за что мы бесконечно благодарны в ответ. За это время у нас успело побывать более 10000 человек,
                оставлено множество отзывов, а в нашей галерее уже более 200 фотографий! В честь юбилея все базы 
                имеют скидку в 30% денег в течение этого года, а также мы собираемся устроить конкурс 
                ваших фотографий в ближайшем будущем. Узнайте больше в наших соцальных сетях.
            </p>
        </div>
    </div>
    <div class="message-container">
        <div class="message-block">
            <p style="font-size: 10px; float: right; margin-top: 7px"> <em>6 апреля 2021 г.</em> </p>
            <h3 style="font-weight:normal; margin-top: 5px; margin-bottom: 0px;">Временное закрытие дома "Высоко в горах"</h3>
            <p>
                Дом "Высоко в горах" будет закрыт в ближайшее время из-за таяния горных ледников и 
                сопутствующих наводнений в области дома. Возобновление работы базы планируется в осенний-зимний сезон.
            </p>
        </div>
    </div>
    <div class="message-container">
        <div class="message-block">
            <p style="font-size: 10px; float: right; margin-top: 7px"> <em>30 октября 2020 г.</em> </p>
            <h3 style="font-weight:normal; margin-top: 5px; margin-bottom: 0px;">Открытие новой базы - Домик у озера!</h3>
            <p>
                Команда Рая отшельника с радостью сообщает об открытии новой базы. С нами связался один из наших коллег 
                и предложил пожертвовать нам свою бывшую обитель, на что мы с радостью согласились! Живописное место 
                возле озера Водическое будет готово встретить своих первых жильцов к Новому Году.
            </p>
        </div>
    </div>
    <p style="font-size: 24px; margin-top: 0px; margin-bottom: 0px;">...</p>
    
    
</div>
{% endblock %}